<!-- Navigation -->
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <i class="fas fa-code"></i>
            <span>Axion Scripts</span>
        </div>
        <div class="nav-menu" id="nav-menu">
            <a href="../index.html" class="nav-link">Home</a>
            <div class="nav-dropdown">
                <a href="#" class="nav-link dropdown-toggle">Axion Black Market <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu">
                    <a href="../blackmarket/installation.html" class="dropdown-link">Installation</a>
                    <a href="../blackmarket/usage.html" class="dropdown-link">Usage</a>
                    <a href="../blackmarket/config.html" class="dropdown-link">Config</a>
                    <a href="../blackmarket/client.html" class="dropdown-link">Client</a>
                    <a href="../blackmarket/server.html" class="dropdown-link">Server</a>
                    <a href="../blackmarket/faq.html" class="dropdown-link">FAQ</a>
                </div>
            </div>
            <div class="nav-dropdown">
                <a href="#" class="nav-link dropdown-toggle">Axion Notify <i class="fas fa-chevron-down"></i></a>
                <div class="dropdown-menu">
                    <a href="../notify/installation.html" class="dropdown-link">Installation</a>
                    <a href="../notify/usage.html" class="dropdown-link">Usage</a>
                    <a href="../notify/config.html" class="dropdown-link">Config</a>
                    <a href="../notify/client.html" class="dropdown-link">Client</a>
                    <a href="../notify/server.html" class="dropdown-link">Server</a>
                    <a href="../notify/faq.html" class="dropdown-link">FAQ</a>
                </div>
            </div>
        </div>
        <div class="nav-toggle" id="nav-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
